{% extends 'layout_base.html' %}
{% load static %}

{% block title %}Code{% endblock %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
<button><a href="/index/">Go Back</a></button>
<h2 style="text-align:center;">Generated code: </h2>
<h1 style="text-align: center;">{{code}}</h1>

<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock content %}
