{% extends 'layout_base.html' %}
{% load static %}

{% block title %}KEA - Attendance(Classes){% endblock %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
    <button onclick="goBack()">Go Back</button>
    <div class = "container-fluid" style="text-align: center;">
        <p class="name">{{ request.session.name }}</p>
        <h1><span id="cur_time"></span></h1>
        <input type="hidden" id="student" value="{{request.session.id}}">
    </div>
    {% if type %}
    <p style="text-align: center; font-family:'Times New Roman', Times, serif; font-size: 30px;">You have one active {{type}}</p>
       <br>
       {% if allow %}
       <div style="text-align: center;">
        <p class="header_code">Enter code:</p>
        <input id="code" type="text" class="code_form"></input>
        <br><button id="block" class="button" onclick="send_value()">
            Attend lesson
        </button> </div>
        {% else %}
        <p> Not connected to KEA network. Please connect in ooder to have access to enter the code </p>
    {% else %}
    <p style="text-align: center; font-family:'Times New Roman', Times, serif; font-size: 30px;">You don't have any active blocks for this course</p>
    {% endif %}   

    <style>
              
        .button {
            width: 200px;
            height: 75px;
            margin-top: 3%;
            background-color: #44c767;
            border-radius: 100px;
            border: 3px solid #18ab29;
            color: #ffffff;
            font-size: 19px;
            align-self: center;
        }

        .header_code {
            width: 35%;
            margin-left: 32.5%;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: 50px;
            color: cornsilk;
            background-color: #28344c;
            text-align: center;
        }

        .code_form {
            border: none;
            border-bottom: 4px solid #233249;
            background-color: transparent;
            width: 35%;
            height: 20%;
            font-size: 40px;
            text-align: center;
            color: #233249;
            margin-top: 3%;
        }

        .code_form:active {
            border: none;
            border-bottom: 2px solid #233249;
            background-color: transparent;
        }

        .code_form:focus {
            border: none;
            border-bottom: 2px solid #233249;
            background-color: transparent;
        }
        
        


    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        var cur_time = document.getElementById('cur_time');

        function time() {
          var d = new Date();
          var s = d.getSeconds();
          var m = d.getMinutes();
          var h = d.getHours();
          cur_time.textContent = 
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }

        setInterval(time, 1000);

        function send_value(){
            console.log("press");
            var enter_code = document.getElementById('code').value;
            var blocks = JSON.parse('{{active_blocks|safe}}');
            var student_id = document.getElementById('student').value;
            console.log(JSON.stringify({'code': enter_code}));
            console.log(enter_code);
            console.log(student_id);
            $.ajax({
                url: '/code_send/',
                type: 'POST',
                data: { json_data: JSON.stringify({student_id: student_id, code: enter_code, blocks: blocks})},
                success: function(response) {
                    alert(response);
                }
            });
        }

        
        function goBack() {
            window.history.back();
        }


    </script>

{%endblock content %}