{% extends 'layout_base.html' %}
{% load static %}

{% block title %}KEA - Attendance(Details){% endblock %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
    <div class = "container-fluid">
        <button onclick="goBack()">Go Back</button>
        <div style="text-align: center;">
            <h2 id="course" >{{ subject_name }}</h2>
        </div>
    </div>
    <br></br>
    <div class="table-size">
        <table class="table table-striped">
            <thead>
                <tr class="headers">
                    <th scope = "col">Name</th>
                    <th scope = "col" class="right">See attendance</th>
                </tr>
            </thead>
            {% for student in students %}
            <tr>
                <th>{{ student.name }}</th>
                <th class="right"><a href="/student/{{teacher_course}}/{{student.id}}/" class="btn btn-primary">Open</a></th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<style>
    .table-size{
        width: 65%;
        margin: auto;
    }
    .headers{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        color: cornsilk;
        background-color: #28344c;
    }

    .right{
        text-align: right;
        padding: 20px;
    }
</style>

<script>
    function goBack() {
      window.history.back();
    }
</script>


{%endblock content %}