{% extends 'layout_base.html' %}
{% load static %}

{% block title %}KEA - Attendance(Student){% endblock %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
<button onclick="goBack()">Go Back</button>
<div class = "container-fluid" style="text-align: center;">
    <h2> {{ course }}</h2>
    <br></br>
    <p style="font-size: 20px;">{{ name }}</p>
</div>
<br></br>
<div class="table-size">
    <table class="table table-striped">
        <thead>
            <tr class="headers">
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for record in data %}
        <tr>
            <th>{{ record.date|date:'Y-m-d H:i'}}</th>
            <th>{{ record.status }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

<style>
    .table-size{
        width: 65%;
        margin: auto;
    }

    .headers{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        color: cornsilk;
        background-color: #28344c;
    }
</style>

<script>
    function goBack() {
      window.history.back();
    }
</script>

{%endblock content %}