{% extends 'layout_base.html' %}
{% load static %}

{% block title %}KEA - Attendance(Student){% endblock %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Number of times'],
          ['Present',  {{present}}],
          ['Absent',   {{absent}}],
        ]);

        var options = {
          title: 'Attendance for the course',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
</script>
<div class = "container-fluid" style="text-align: center;">
    <h2> {{ course }}</h2>
    <br></br>
    <p style="font-size: 20px;">{{ name }}</p>
</div>
<br></br>
<div class="table-size">
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    <table class="table table-striped">
        <thead>
            <tr class="headers">
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for record in data %}
        <tr>
            <th>{{ record.date|date:'Y-m-d H:i'}}</th>
            <th>{{ record.status }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

<style>
    .table-size{
        width: 65%;
        margin: auto;
    }

    .headers{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        color: cornsilk;
        background-color: #28344c;
    }
</style>


{%endblock content %}