{% extends 'layout_base.html' %}
{% load static %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{sessionDict.username}}
{%endblock username%}

{%block role%}
    {{sessionDict.role}}
{%endblock role%}

{% block content %}
    <div class = "container-fluid" style="text-align: center;">
        <h1>{{ sessionDict.name }}</h1>
        <h1><span id="cur_time"></span></h1>
    </div>

    <div class="board">
        <div class="box">
          <h1>
          Enter code:
          </h1>
        </div>
        <div class="box">
            <input id="code" type="text" class="code_form"></input>
        </div>
        <div class="box">
            <button class="button">
                Attend lesson
            </button>
        </div>
    </div>
   

    <script>
        function send_value(){
            console.log("press");
            var enter_code = document.getElementById('code').value;
            var block_id = document.getElementById('block').value;
            console.log(JSON.stringify({'code': enter_code}));
            console.log(enter_code);
            $.ajax({
                url: '/code_send/',
                type: 'POST',
                data: { json_data: JSON.stringify({code: enter_code, block: block_id})},
                success: function(response) {
                    alert(response);
                }
            });
        }

        setInterval(time, 1000);

    </script>

    <style>
        .board {
            width: 40%;
            height: 90%;
            margin-top: 5%;
            margin-left: 30%;
        }
        
        .box {
            width: 100%;
            height: 100px;
            float: left;
           
        }
        
        .card {
            width: 90%;
            height: 90%;
            float: left;
            margin: 5%;
            border-radius: 5px;
            border-radius: 20px;
        }
        
        .tophalf {
            width: 100%;
            height: 40%;
            background-color: transparent;
            float: left;
        }
        
        
        .classname {
            text-align: center;
            padding: 10%;
        }
        
        .bottomhalf {
            width: 100%;
            height: 50%;
            float: left;
        }
        
        .button {
            width: 70%;
            height: 60%;
            margin-top: 5%;
            margin-left: 15%;
            background-color: #44c767;
            border-radius: 100px;
            border: 3px solid #18ab29;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-size: 19px;
           

        }

        .code_form {
            border: none;
            border-bottom: 4px solid #233249;
            background-color: transparent;
            width: 70%;
            margin-left: 15%;
            height: 70%;
            font-size: 30px;
            text-align: center;
            color: #233249;

        }

        .code_form:active {
            border: none;
            border-bottom: 2px solid #233249;
            background-color: transparent;
        }

        .code_form:focus {
            border: none;
            border-bottom: 2px solid #233249;
            background-color: transparent;
        }
        
        


    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        var cur_time = document.getElementById('cur_time');

        function time() {
          var d = new Date();
          var s = d.getSeconds();
          var m = d.getMinutes();
          var h = d.getHours();
          cur_time.textContent = 
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }
        
        setInterval(time, 1000);

    </script>

{%endblock content %}