{% extends 'layout_base.html' %}
{% load static %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{sessionDict.username}}
{%endblock username%}

{%block role%}
    {{sessionDict.role}}
{%endblock role%}

{% block content %}
    <br></br>
    <div class = "container-fluid" style="text-align: center;">
        <h1>{{ subject_name }}</h1>
        <h1><span id="cur_time"></span></h1>
    </div>
    <br></br>
    <div class="table-size">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope = "col">First name</th>
                    <th scope = "col">Last name</th>
                    <th scope = "col" class="right">See attendance details</th>
                </tr>
            </thead>
            {% for student in students %}
            <tr>
                <th>{{ student.firstname }}</th>
                <th>{{ student.lastname }}</th>
                <th class="right"><a href="/student/{{teacher_course}}/{{student.id}}/" class="btn btn-primary">Open</a></th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<style>
    .table-size{
        width: 65%;
        margin: auto;
    }

    .right{
        text-align: right;
        padding: 20px;
    }
</style>


{%endblock content %}