{% extends 'layout_base.html' %}
{% load static %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
<br>
    <div class = "container-fluid" style="text-align: center;">
        <h2 class=name>{{ request.session.name }}</h2>
        <h1><span id="cur_time"></span></h1>
    </div>
<br>
    <div class="table-size">
        <table class="table table-striped">
            <thead>
                <tr class="headers">
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
            </thead>
        {% for row in data %}
            <tr>
                <td>{{ row.date}}</td>
                <td>{{ row.subject }}</td>
                <td>{{ row.status }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

<style>

</style>
{% endblock content %}