{% extends 'layout_base.html' %}
{% load static %}

{%block bootstrap%}
{%endblock bootstrap%}

{%block username%}
    {{sessionDict.username}}
{%endblock username%}

{%block role%}
    {{sessionDict.role}}
{%endblock role%}

{% block content %}
    
    <br>
        <div class = "container-fluid" style="text-align: center;">
            <h1>{{ sessionDict.name }}</h1>
            <h1><span id="cur_time"></span></h1>
        </div>
        {% if sessionDict.role == "teacher" %} 
        <br>
        </br>
        <div class = "container-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope = "col">Class</th>
                        <th scope = "col">Subject name</th>
                        <th scope = "col">Room</th>
                        <th scope = "col">Open</th>
                    </tr>
                </thead>
                {% for row in data %}
                <tr>
                    <th scope="row">{{ row.class }}</th>
                    <td>{{ row.subject }}</td>
                    <td>{{ row.room }}</td>
                    <td><a href="/block/{{row.id}}/" class="btn btn-primary">Open class</a></td>
                </tr>
                {% endfor %}


            </table>
        </div>
        {% else %}
            {% if block_id == None %}
            <div class="div">
                <div class="div--">
                    <h1>Active classes: </h1>
                </div>
                <br>
                <div class="div-div">
                    <h2>Lesson name</h2>
                </div>
                <div class="div-div">
                    <h2>Enter code: </h2>
                    <input id="code" type="text" class="code_form"></input>
                </div>
                <div class="div-div">
                    <button id="block" onclick="send_value()" class="but" value="{{block_id}}">Attend Lesson</button>
                </div>
            </div>
            {% else %}
            <div>
                You have no active classes. Please refresh!
            </div>
            {% endif %}
        {%endif%}
    
    <style>
        .div {
            width: 90%;
            height: 40%;
            margin: 5%;
        }

        .div-div {
            width: 33%;
            height: 100px;
            float: left;
        }

        .div-- {
            width: 90%;
            height: 100px;
            float: center;
        }

        .nav_text{
            font-size: 19px;
        }
    
        .big_text{
            font-size: xx-large;
        }

        .but{
            background-color:#44c767;
            border-radius:10px;
            border:3px solid #18ab29;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-size:19px;
            padding:20px 49px;
        }

        .code_form{
            border: 2px solid #233249;
            border-radius: 4px;
        }

        .code_form:focus{
            border: 3px solid #555;
        }

    </style>
    <!-- BOOTSRAP-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        var cur_time = document.getElementById('cur_time');

        function time() {
          var d = new Date();
          var s = d.getSeconds();
          var m = d.getMinutes();
          var h = d.getHours();
          cur_time.textContent = 
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }
        
        setInterval(time, 1000);

        function send_value(){
            console.log("press");
            var enter_code = document.getElementById('code').value;
            var block_id = document.getElementById('block').value;
            console.log(JSON.stringify({'code': enter_code}));
            console.log(enter_code);
            $.ajax({
                url: '/code_send/',
                type: 'POST',
                data: { json_data: JSON.stringify({code: enter_code, block: block_id})},
                success: function(response) {
                    alert(response);
                }
            });
        }

    </script>

{% endblock content %}
