{% extends 'layout_base.html' %}
{% load static %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{sessionDict.username}}
{%endblock username%}

{%block role%}
    {{sessionDict.role}}
{%endblock role%}

{% block content %}
    
    <br>
        <div class = "container-fluid" style="text-align: center;">
            <h2 class=name>{{ sessionDict.name }}</h2>
            <h1><span id="cur_time"></span></h1>
        </div>
        {% if data %}
        {% for row in data %}
        <div class="container-md">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 27rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{ row.class }}</h5>
                          <p class="card-text">{{ row.subject }}</p>
                          <a href="#" class="btn btn-primary">Open class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        <br>
        </br>
        <div class = "container-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope = "col">Class</th>
                        <th scope = "col">Subject name</th>
                        <th scope = "col">Room</th>
                        <th scope = "col">Open</th>
                    </tr>
                </thead>
                {% for row in data %}
                <tr>
                    <th scope="row">{{ row.class }}</th>
                    <td>{{ row.subject }}</td>
                    <td>{{ row.room }}</td>
                    <td><a href="#" class="btn btn-primary">Open class</a></td>
                </tr>
                {% endfor %}


            </table>
        </div>
        {% endif %}
    

    <!-- BOOTSRAP-->
    <script type="text/javascript" charset="utf-8">
        var cur_time = document.getElementById('cur_time');

        function time() {
          var d = new Date();
          var s = d.getSeconds();
          var m = d.getMinutes();
          var h = d.getHours();
          cur_time.textContent = 
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
        }
        
        setInterval(time, 1000);
    </script>

{% endblock content %}
