{% extends 'layout_base.html' %}
{% load static %}

{%block bootstrap%}
    
{%endblock bootstrap%}

{%block username%}
    {{request.session.username}}
{%endblock username%}

{%block role%}
    {{request.session.role}}
{%endblock role%}

{% block content %}
<br>
    <div class = "container-fluid" style="text-align: center;">
        <h1 class=name>Settings</h1>
        <h1><span id="cur_time"></span></h1>
    </div>
<br>
    <div class="container-md">
    <table class="table table-striped" style="text-align: center;">
        <tr>
            <td>Enable blocks</td>
            <td>
                <div>
                    <input type="checkbox" {% if data.isBlocks %} checked {% endif %}/>
                    <span></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Minutes available to check in</td>
            <td>
                <div>
                    <input type="number" min='0' max='30' value='{{data.period}}' /> minutes
                    <span></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Reminder</td>
            <td>
                <div>
                    <input type="checkbox" {% if data.reminder %} checked {% endif %} />
                    <span></span>
                </div>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="2">
                <input type="submit" value="Save Settings" >
            </td>
        </tr>
    </table>
</div>
{% endblock content %}

<script>

</script>

